#projects{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}
.slider{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
    scrollbar-width: none;
    padding: 20px ;
}
#para{
    background: linear-gradient(to right, rgb(203, 53, 108), white);
    background-clip: text;
    color: transparent;
    font-size: 4vmax;
    text-align: center;
}