#about {
    width: 100%;
    height: 100%;
    display: flex;
}
.leftabout {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.circle-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #7ad7ea;
    box-shadow: 2px 2px 10px #7ad7ea;
}
.line{
    width: 3px;
    height: 100px;
    background-color: aliceblue;
}
.aboutdetails {
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.aboutdetails ul {
    list-style: none;
}
.aboutdetails h1{
    background: linear-gradient(to right, rgb(198, 42, 96), white);
    background-clip: text;
    color: transparent;
}
.aboutdetails li {
    color: white;
}
.aboutdetails span {
    color: #7ad7ea;
}
.rightabout {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
@media (max-width: 750px) {
    #about {
        flex-direction: column;
    }
    .leftabout, .rightabout {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
}