#home {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

.lefthome {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.righthome {
    width: 50%;
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.righthome img {
    width: 70%;
    filter: drop-shadow(2px 2px 10px rgb(116, 201, 225));
}
.homedetails {
    font-size: 2vmax;
    
}
.line1 {
    font-size: 0.8em;
}
.line2 {
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(66, 180, 205), white);
    background-clip: text;
    color: transparent;
}
.line3 {
    font-size: 1em;
}
.homedetails button {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 19px;
    color: white;
    background-color: rgb(66, 180, 205);
    border: 2px solid rgb(66, 180, 205);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ;
}
.homedetails button:hover {
    background-color: transparent;
    color: rgb(66, 180, 205);
}
@media (max-width: 750px) {
    #home {
        flex-direction: column-reverse;
        height: auto;
    }
    .lefthome {
        width: 100%;
        height: 50vh;
    }
    .righthome  {
        width: 100%;
        height: 50vh;
        align-items: end;
    }
    .homedetails {
        text-align: center;
        font-size: 4vmax;
    }
}