#home {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
}

.lefthome {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.righthome {
    width: 50%;
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.righthome img {
    width: 80%;
    filter: drop-shadow(2px 2px 10px rgb(116, 201, 225));
}
.homedetails {
    font-size: 2vmax;
    
}
.line1 {
    font-size: 0.8em;
}
.line2 {
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(66, 180, 205), white);
    background-clip: text;
    color: transparent;
}
.line3 {
    font-size: 1em;
}