#contact{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftcontact img{
    width: 80%;
    filter: drop-shadow(2px 2px 10px rgb(87,196,220));
}
.rightcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}