nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
}
.active {
color: aqua;
border-bottom: 2px solid white;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    list-style: none;
    font-size: 20px;
}

nav h1 {
    color: white;
    font-size: 30px;
    background: linear-gradient(to right, rgb(66, 180, 205),white);
    background-clip: text;
    color: transparent;
}
nav ul a{
    cursor: pointer;

}
nav ul a:hover{
    color: aqua;
    border-bottom: 2px solid white;
}