nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
}

.active {
    color: aqua;
    border-bottom: 2px solid white;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    list-style: none;
    font-size: 20px;
}

nav h1 {
    color: white;
    font-size: 30px;
    background: linear-gradient(to right, rgb(66, 180, 205), white);
    background-clip: text;
    color: transparent;
}

nav ul a {
    cursor: pointer;

}

nav ul a:hover {
    color: aqua;
    border-bottom: 2px solid white;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 8px;
    display: none;
}

.ham {
    width: 40px;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.5s;
}

.mobilemenu {
    display: flex;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    flex-direction: column;
    transition: all 0.5s;
    gap: 50px;
}

.activemobile {
    transform: translateX(0%);
}

.activeham .ham:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.activeham .ham:nth-child(2) {
    opacity: 0;
}

.activeham .ham:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -12px;
}

@media (max-width:750px) {
    .desktopmenu {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}